@tailwind base;
@tailwind components;
@tailwind utilities;

:lang(ko) {
  word-break: keep-all;
}

@layer utilities {
  .main-image-mask {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 43%, rgba(0, 0, 0, 0) 48%);
    @media (min-width: 1536px)  {
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0) 60%);
    }
  }

  .main-div-bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 43%, #fff 48%);
    @media (min-width: 1536px)  {
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 55%, #fff 60%);
    }
  }

  .gold-number::marker {
    color: gold;
  }

  .silver-number::marker {
    color: silver;
  }

  .bronze-number::marker {
    color: rgb(205, 127, 50);
  }

  .bold-list-numbers {
    @apply list-decimal;
  }

  .bold-list-numbers li::marker {
    font-weight: bold; /* 숫자를 굵게 만듭니다 */
  }

  .item-summary-information {
    @apply flex flex-wrap text-sm text-gray-500
  }

  .item-summary-information > *:not(:last-child)::after {
    content: '·';
    margin: 0 2px;
  }
}